{%extends 'mymaster.html'%}
{%block myheading%}
<h1>Members</h1>
{%endblock%}
{%block mymessage%}
<ul>
    {%for x in mymembers%}
    <li>{{x.firstname}}</li>
    {%endfor%}
</ul>
{%endblock%}
{%block others%}
<ul>
    {%for x in mymembers reversed%}
    <h1>{{x.id}}</h1>
    <p>
        {{x.firstname}}
        {{x.lastname}}
    </p>
    {% endfor %}
</ul>

{%if greeting == 1%}
<h1>Hello</h1>
{%elif greeting == 2%}
<h1>Welcome</h1>
{%else%}
<h1>Bye</h1>
{%endif%}

<ul>
    {%comment%}
    <h1>Welcome ladies and gentlemen</h1>
    {%endcomment%}
    {%for x in emptytestobject%}
    <li>{{x.firstname}}</li>
    {%empty%}
    <li>No members</li>
    {% endfor %}
</ul>

<ul>
    {%for x in mymembers%}
    <li
    {%if forloop.first%}
    style="background-color:lightblue;"
    {%elif forloop.last%}
    style="background-color:aquamarine;"
    {%endif%}
    >{{x.firstname}}: {{forloop.revcounter}}</li>
    {%endfor%}
</ul>

<ul>
    {%for x in mymembers%}
    {% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' as bgcolor silent%}
    {%if forloop.counter == 3%}
    {%resetcycle%}
    {%endif%}
    <li style='background-color:{{bgcolor}}'>
    {{x.firstname}}
    </li>
    {%endfor%}
</ul>

<h1>Hello</h1>
<p>This page contains a footer in a template</p>
{%include 'footer.html'%}

<!DOCTYPE html>
<html>
    <body>
        {%include 'mymenu.html' with me='TOBIAS' sponsor='W3SCHOOLS'%}
        <h1>Welcome!</h1>
        <p>This is my webpage</p>
    </body>
</html>

<h1>Hello {{firstname|first|lower}}, how are you?</h1>
{%filter lower%}
<h1>Hello everyone, how are you?</h1>
{%endfilter%}

<table border="1">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {%for x in mymembers%}
    <tr>
        <td>{{x.id}}</td>
        <td>{{x.firstname}}</td>
        <td>{{x.lastname}}</td>
    </tr>
    {%endfor%}
</table>
{%endblock%}